# Python
__pycache__/
*.pyc
*.pyo

# coverage
.coverage
htmlcov/

# setuptools
MANIFEST
build/
dist/
tracking_url.egg-info/

# PyCharm
.idea/
venv/
.DS_Store

# RTC
.jupyter_ystore.db
.ipynb_checkpoints